.links, .second-header{
    display: inline-block;
    vertical-align: top;
    margin: 0 , 10px;
}
h1{
    font-size: 1.9em;
    color: white;
    background-color: rgb(236, 153, 45);
    padding: 20px 20px;
    text-align: center;
}
h2{
    font-size: 1.9em;
    color: white;
    background-color: rgb(218, 161, 86);
    padding: 0px 10px;
    text-align: center;
}
p{
    font-size: 1.2em;
    color: rgb(101, 34, 69);
    padding: 2px 2px;
}
img{
    border-radius: 50%;
}
.links{
    font-weight: light;
    font-size: medium;
    height: 80vh;
    border: 0.5px solid black;
    width: 23%;
    line-height: 1.6;
    padding-bottom: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
li{
    font-size: 1em;
}
.second_head{
    color: rgb(66, 59, 59);
    font-size: larger;
    font-weight: 500;
    background-color: rgb(46, 132, 120);
    border-radius: 5px 5px 0px 0px;
    padding: 10px 10px;
    width: 74%;
}
.pro{
    background-color: rgb(228, 244, 239);
    align-items: center;
    margin: 20px 20px;
    border: 2px dashed burlywood;
    width: max-content;
}
.contact{
    text-align: center;
    justify-content: center;
    align-content: center;
    margin: 20px 20px;
    border: 2px solid burlywood;
    width: 70%; 

}
footer{
    margin-top: 100px;
}